<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="{% block favicon %}{% endblock %}" />
    <title>{% block title %}{% endblock %}</title>

    {% block extjs %}{% endblock %}

    {% block stylesheet %}{% endblock %}

    {% block javascripts %}{% endblock %}
</head>
</html>